{% extends 'base.html' %}
{% block content %}
<header>
    <input
        type="text"
        id="url"
        placeholder="Search or enter LocalBrowser address..."
    >

    <button id="search">
        🔍 Search
    </button>
</header>

<main>
    <div class="browser">
        <iframe id="view"></iframe>
    </div>
</main>
<script>
    const proxPort = "{{ proxy_port }}";

    const inp = document.querySelector('input#url');
    const btn = document.querySelector('button#search');
    const view = document.querySelector('iframe#view');

    btn.addEventListener('click', () => {
        view.setAttribute('src', parseAddress(inp?.value));
    });

    document.addEventListener('keydown', (event) => {
        if (event.key === 'Enter' && document.activeElement === inp) {
            btn.click();
        }
    });

    function parseAddress(address) {
        if (!address.includes('/')) address += '/';
        let [identifier, path] = address.split('/', 1);
        if (!path) path = '';
        return `http://${identifier}.localhost:${proxPort}/${path}`;
    }
</script>
{% endblock %}